<a href="https://colab.research.google.com/github/dhrubjun/Olympic_2022/blob/main/Olympic_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('/content/drive/MyDrive/data/Olympics2022.csv', on_bad_lines="skip",sep=";")

In [7]:
df.head()

,RANK,NOC CODE,NOC,Continent,Men Athletes,Women Athletes,Total Athletes,Gold,Silver,Bronze,...,Figure Skating,Freestyle Skiing,Ice Hockey,Luge,Nordic Combined,Short Trank Speed Skating,Skeleton,Sky Jumping,Snowboard,Speed Skating
0,1.0,NOR,Norway,Europe,53,31,84,16,8,13,...,NaN,1.0,NaN,NaN,4.0,NaN,NaN,1.0,1.0,3.0
1,2.0,GER,Germany,Europe,96,49,145,12,10,5,...,NaN,1.0,NaN,6.0,2.0,NaN,3.0,3.0,NaN,NaN
2,3.0,CHN,People's Republic of China,Asia,94,86,180,9,4,2,...,1.0,6.0,NaN,NaN,NaN,4.0,1.0,NaN,2.0,1.0
3,4.0,USA,United States,North America,118,108,226,8,10,7,...,3.0,8.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0,3.0
4,5.0,SWE,Sweden,Europe,62,59,121,8,5,5,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   RANK                       29 non-null     float64
 1   NOC CODE                   91 non-null     object
 2   NOC                        91 non-null     object
 3   Continent                  91 non-null     object
 4   Men Athletes               91 non-null     int64
 5   Women Athletes             91 non-null     int64
 6   Total Athletes             91 non-null     int64
 7   Gold                       91 non-null     int64
 8   Silver                     91 non-null     int64
 9   Bronze                     91 non-null     int64
 10  Total Medals               91 non-null     int64
 11  Rank By Total              29 non-null     float64
 12  Alpine Skiing              73 non-null     float64
 13  Biathlon                   69 non-null     float64
 14  Bobsleigh                  65 non-null     float64
 15  Cross Country Skiing       71 non-null     float64
 16  Curling                    68 non-null     float64
 17  Figure Skating             68 non-null     float64
 18  Freestyle Skiing           77 non-null     float64
 19  Ice Hockey                 67 non-null     float64
 20  Luge                       66 non-null     float64
 21  Nordic Combined            66 non-null     float64
 22  Short Trank Speed Skating  70 non-null     float64
 23  Skeleton                   66 non-null     float64
 24  Sky Jumping                70 non-null     float64
 25  Snowboard                  77 non-null     float64
 26  Speed Skating              74 non-null     float64
dtypes: float64(17), int64(7), object(3)
memory usage: 19.3+ KB

In [10]:
df.isnull().sum()

RANK                         62
NOC CODE                      0
NOC                           0
Continent                     0
Men Athletes                  0
Women Athletes                0
Total Athletes                0
Gold                          0
Silver                        0
Bronze                        0
Total Medals                  0
Rank By Total                62
Alpine Skiing                18
Biathlon                     22
Bobsleigh                    26
Cross Country Skiing         20
Curling                      23
Figure Skating               23
Freestyle Skiing             14
Ice Hockey                   24
Luge                         25
Nordic Combined              25
Short Trank Speed Skating    21
Skeleton                     25
Sky Jumping                  21
Snowboard                    14
Speed Skating                17
dtype: int64

In [12]:
df.shape

(91, 27)